name: Idea major version upgrade
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  upgrade:
    name: Check for idea version updates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: ./scripts/upgrade-major-versions.sh
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8
        with:
          branch: auto/idea-major-version-upgrade
          delete-branch: true
          title: "[Automatic] Upgrade of the idea major versions"
