name: Idea major version upgrade
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  upgrade:
    name: Check for idea version updates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: ./scripts/upgrade-major-versions.sh
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8
        with:
          branch: auto/idea-major-version-upgrade
          delete-branch: true
          title: "[Automatic] Upgrade of the idea major versions"
